<app-admin-nav [PageName]="'Event Management'" ></app-admin-nav>

<app-reusable-table 
  [HeadArray]="headArray" 
  [GridArray]="filteredEvent" 
  [is_status]="true"
  [is_edit]="true"
  [currentPage]="currentPage"
  [pageSize]="itemsPerPage"
  [totalItems]="totalItems"
  (onStatus)="eventStatus($event)" 
  (onEdit)="editEvent($event)"
  (searchChanged)="onSearchTermChanged($event)" 
  (pageChange)="onPageChange($event)">
</app-reusable-table>



<div class="flex justify-start mt-4 ">
  <button (click)="openModal('add')"
    class="bg-transparent hover:bg-[#1a2035] text-[#1a2035] font-semibold hover:text-white py-2 px-4 border border-[#1a2035] hover:border-transparent rounded">
    Add Event
  </button>
</div>




<app-modal [isOpen]="isModalOpen" [title]="'Add Event'" (closeModal)="closeModal()">
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <app-inputbox [label]="'Event Name'" [type]="'text'" [formControl]="$any(eventForm.controls['name'])"></app-inputbox>
    <app-inputbox [label]="'Description'" [type]="'text'" [formControl]="$any(eventForm.controls['description'])"></app-inputbox>
    <app-inputbox [label]="'Event Image'" [type]="'file'" [formControl]="$any(eventForm.controls['image1'])" accept="image/*" (change)="onImageChange($event,'image1')"></app-inputbox>
    
    <div *ngIf="imagePreview1" class="mt-2">
      <img [src]="imagePreview1" alt="Image preview" class="max-w-full h-auto border border-gray-300 rounded-md">
    </div>

    <app-inputbox [label]="'Event Heading'" [type]="'text'" [formControl]="$any(eventForm.controls['event_heading'])"></app-inputbox>
    <app-inputbox [label]="'Event Content'" [type]="'text'" [formControl]="$any(eventForm.controls['event_content'])"></app-inputbox>
    
    <app-inputbox [label]="'Event Content Image'" [type]="'file'" [formControl]="$any(eventForm.controls['image2'])" accept="image/*" (change)="onImageChange($event,'image2')"></app-inputbox>
    <div *ngIf="imagePreview2" class="mt-2">
      <img [src]="imagePreview2" alt="Image preview" class="max-w-full h-auto border border-gray-300 rounded-md">
    </div>

    <app-inputbox [label]="'Event Services'" [type]="'text'" [formControl]="$any(eventForm.controls['event_services'])"></app-inputbox>
    <app-inputbox [label]="'Event Features'" [type]="'text'" [formControl]="$any(eventForm.controls['event_features'])"></app-inputbox>
    
    <app-inputbox [label]="'Event Services Image'" [type]="'file'" [formControl]="$any(eventForm.controls['image3'])" accept="image/*" (change)="onImageChange($event,'image3')"></app-inputbox>
    <div *ngIf="imagePreview3" class="mt-2">
      <img [src]="imagePreview3" alt="Image preview" class="max-w-full h-auto border border-gray-300 rounded-md">
    </div>
    
    <div class="flex justify-end mt-4">
      <app-button 
        label="Cancel" 
        buttonClass="bg-red-600 text-white hover:bg-white hover:text-red-600 hover:border border-red-600 py-2 px-4 rounded-lg mr-2" 
        (click)="closeModal()">
      </app-button>
      
      <ng-container *ngIf="!isLoading; else loadingSpinner">
        <app-button 
          label="Submit" 
          type="submit" 
          buttonClass="bg-[#1a2035] text-white border py-2 px-4 hover:bg-white hover:text-[#1a2035] hover:border border-[#1a2035] rounded-lg">
        </app-button>
      </ng-container>

      <ng-template #loadingSpinner>
        <div class="flex justify-center items-center h-12 w-12">
          <div class="animate-spin rounded-full h-8 w-8 border-t-2 border-b-2 border-gray-900"></div>
        </div>
      </ng-template>
    </div>
  </form>
</app-modal>



<app-modal [isOpen]="isEditModalOpen" [title]="'Edit Event'" (closeModal)="closeModal()">
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <app-inputbox [label]="'Event Name'" [type]="'text'" [formControl]="$any(eventForm.controls['name'])"></app-inputbox>
    <app-inputbox [label]="'Description'" [type]="'text'" [formControl]="$any(eventForm.controls['description'])"></app-inputbox>
    <app-inputbox [label]="'Event Image'" [type]="'file'" [formControl]="$any(eventForm.controls['image1'])" accept="image/*" (change)="onImageChange($event,'image1')"></app-inputbox>
    <div *ngIf="imagePreview1" class="mt-2">
      <img [src]="imagePreview1" alt="Image preview" class="max-w-full h-auto border border-gray-300 rounded-md">
    </div>
    <app-inputbox [label]="'Event Heading'" [type]="'text'" [formControl]="$any(eventForm.controls['event_heading'])"></app-inputbox>
    <app-inputbox [label]="'Event Content'" [type]="'text'" [formControl]="$any(eventForm.controls['event_content'])"></app-inputbox>
    <app-inputbox [label]="'Event Content Image'" [type]="'file'" [formControl]="$any(eventForm.controls['image2'])" accept="image/*" (change)="onImageChange($event,'image2')"></app-inputbox>
    <div *ngIf="imagePreview2" class="mt-2">
      <img [src]="imagePreview2" alt="Image preview" class="max-w-full h-auto border border-gray-300 rounded-md">
    </div>
    <app-inputbox [label]="'Event Services'" [type]="'text'" [formControl]="$any(eventForm.controls['event_services'])"></app-inputbox>
    <app-inputbox [label]="'Event Features'" [type]="'text'" [formControl]="$any(eventForm.controls['event_features'])"></app-inputbox>
    <app-inputbox [label]="'Event Services Image'" [type]="'file'" [formControl]="$any(eventForm.controls['image3'])" accept="image/*" (change)="onImageChange($event,'image3')"></app-inputbox>
    <div *ngIf="imagePreview3" class="mt-2">
      <img [src]="imagePreview3" alt="Image preview" class="max-w-full h-auto border border-gray-300 rounded-md">
    </div>
    
    <div class="flex justify-end mt-4">
      <app-button 
        label="Cancel" 
        buttonClass="bg-red-600 text-white hover:bg-white hover:text-red-600 hover:border border-red-600 py-2 px-4 rounded-lg mr-2" 
        (click)="closeModal()">
      </app-button>
      
      <ng-container *ngIf="!isLoading; else loadingSpinner">
        <app-button 
          label="Submit" 
          type="submit" 
          buttonClass="bg-[#1a2035] text-white border py-2 px-4 hover:bg-white hover:text-[#1a2035] hover:border border-[#1a2035] rounded-lg">
        </app-button>
      </ng-container>

      <ng-template #loadingSpinner>
        <div class="flex justify-center items-center h-12 w-12">
          <div class="animate-spin rounded-full h-8 w-8 border-t-2 border-b-2 border-gray-900"></div>
        </div>
      </ng-template>
    </div>
  </form>
</app-modal>




