<nav class="bg-white fixed w-full z-20 top-0 border-b border-gray-200 dark:border-gray-600 ">
    <div class="max-w-screen-xl mx-auto p-4 flex justify-between items-center">
        <div class="flex items-center space-x-8">
            <a [routerLink]="['/services']" class="text-xl text-center text-stone-900 cursor-pointer">SERVICES</a>
            <a  class="text-xl text-center text-stone-900 cursor-pointer" >PACKAGES</a>
        </div>
        <div class="flex justify-center items-center cursor-pointer">
            <img [routerLink]="['/home']" src="../../../assets/WiskAndWillow.png" alt="logo" class="w-10">
        </div>
        <div class="flex items-center space-x-8 cursor-pointer">
            <a  class="text-xl text-center text-stone-900 ">GALLERY</a>
            <a  class="text-xl text-center text-stone-900 ">CONTACT</a>
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/e076ee509d41f87de3803272feb94d6469126380b5356a9f726329e4222aa3f0?apiKey=b5ab136a2b7b497195a8e3ac52af09ef&&apiKey=b5ab136a2b7b497195a8e3ac52af09ef" alt="Logo" class="w-12">
        </div>
    </div>
</nav>
