<app-admin-nav [PageName]="'Banner Management'" ></app-admin-nav>


<app-reusable-table 
  [HeadArray]="headArray" 
  [GridArray]="filteredBanners" 
  [is_status]="true"
  [currentPage]="currentPage"
  [pageSize]="itemsPerPage"
  [totalItems]="totalItems"  
  (searchChanged)="onSearchTermChanged($event)"
  (onStatus)="toggleStatus($event)" > 
</app-reusable-table>

<div class="flex justify-start mt-4 ">
    <button (click)="openModal('add')"
      class="bg-transparent hover:bg-[#1a2035] text-[#1a2035] font-semibold hover:text-white py-2 px-4 border border-[#1a2035] hover:border-transparent rounded">
      Add Banner
    </button>
  </div>


  <app-modal [isOpen]="isModalOpen" [title]="'Add Banner'" (closeModal)="closeModal()">
    <form [formGroup]="bannerForm" (ngSubmit)="onSubmit()">
      <app-inputbox [label]="'Banner Name'" [type]="'text'" [formControl]="$any(bannerForm.controls['name'])"></app-inputbox>
      <app-inputbox [label]="'Description'" [type]="'string'" [formControl]="$any(bannerForm.controls['description'])"></app-inputbox>
      <app-inputbox [label]="'Upload Image'" [type]="'file'" [formControl]="$any(bannerForm.controls['image'])" accept="image/*" (change)="onImageSelected($event)"></app-inputbox>
      <div *ngIf="selectedImage" class="mt-2">
        <img [src]="selectedImage" alt="Image preview" class="max-w-full h-auto border border-gray-300 rounded-md">
      </div>
  
      <div class="flex justify-end">
        <app-button label="Cancel" buttonClass="bg-red-600 text-white hover:bg-white hover:text-red-600 hover:border border-red-600 py-2 px-4 rounded-lg mr-2" (click)="closeModal()"></app-button>
  
        <app-button
          *ngIf="!isLoadingBanner"
          label="Submit"
          type="submit"
          buttonClass="bg-[#1a2035] text-white border py-2 px-4 hover:bg-white hover:text-[#1a2035] hover:border border-[#1a2035] rounded-lg"
        ></app-button>
  
        <div *ngIf="isLoadingBanner" class="flex justify-center items-center h-12 w-12">
          <div class="animate-spin rounded-full h-8 w-8 border-t-2 border-b-2 border-gray-900"></div>
        </div>
      </div>
    </form>
  </app-modal>