<div class="font-[sans-serif] min-h-screen flex items-center justify-center py-4 px-4 mt-8">
    <div class="container flex flex-col md:flex-row items-center justify-center border-gray-300 rounded-lg p-4 md:p-6 w-full max-w-4xl shadow-[0_2px_22px_-4px_rgba(93,96,127,0.2)] bg-white">
        <!-- Login Form -->
        <div class="w-full md:w-1/2 p-4 md:p-6 max-w-lg md:rounded-lg">
            <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4">
                <div class="mb-6">
                    <h3 class="text-gray-800 text-2xl md:text-3xl font-extrabold text-center">Login</h3>
                    <p class="text-gray-500 text-sm mt-2 leading-relaxed text-center">Sign in to Wisk and Willow and begin your journey to unforgettable events.</p>
                </div>
                <div>
                    <label class="text-gray-800 text-sm mb-1 block">Email</label>
                    <input formControlName="email" name="email" type="text" required class="w-full text-sm text-gray-800 border border-gray-300 px-4 py-2 rounded-lg outline-black" placeholder="Enter email" />
                    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-red-600 text-sm">
                      <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
                      <div *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</div>
                    </div>
                </div>
                <div>
                    <label class="text-gray-800 text-sm mb-1 block">Password</label>
                    <input formControlName="password" name="password" type="password" required class="w-full text-sm text-gray-800 border border-gray-300 px-4 py-2 rounded-lg outline-black" placeholder="Enter password" />
                    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-red-600 text-sm">
                      <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
                      <!-- <div *ngIf="loginForm.get('password')?.errors?.['minlength']">
                        Password must be at least 6 characters long.
                      </div> -->
                    </div>
                </div>
                <div class="!mt-6">
                    <button type="submit" class="w-full shadow-xl py-2 px-4 text-sm tracking-wide rounded-lg text-white bg-black hover:bg-gray-700 focus:outline-none">
                        Log in
                    </button>
                </div>
                 <!-- forget password -->
            <div class="flex flex-wrap items-center justify-end gap-4">
              <div class="text-sm">
                <a  [routerLink]="[('/forgetpassword')]" class="text-black hover:underline font-semibold">
                  Forgot your password?
                </a>
              </div>
            </div>
                <p class="text-sm !mt-6 text-center text-gray-700">Don't have an account? <a [routerLink]="['/register']" class="text-black font-semibold hover:underline ml-1 whitespace-nowrap cursor-pointer">Register here</a></p>

                <div id="google-btn"></div>
            </form>
        </div>
        <!-- Image -->
        <div class="hidden md:flex lg:h-[300px] md:h-[250px] w-full md:w-1/2 my-auto p-4 justify-center items-center">
            <div class="text-center font-serif w-full h-full flex justify-center items-center">
                <img src="../../../../assets/Events.png" alt="wisk and willow logo" class="max-w-full max-h-full object-contain">
            </div>
        </div>
    </div>
</div>




           

