<form class="space-y-4">
    <div class="mb-6">
        <h3 class="text-gray-800 text-2xl md:text-3xl font-extrabold text-center">Login</h3>
        <p class="text-gray-500 text-sm mt-2 leading-relaxed text-center">Sign in to Wisk and Willow and begin your journey to unforgettable events.</p>
    </div>
    <div>
        <label class="text-gray-800 text-sm mb-1 block">Email</label>
        <input name="email" type="text" required class="w-full text-sm text-gray-800 border border-gray-300 px-4 py-2 rounded-lg outline-black" placeholder="Enter email" />
    </div>
    <div>
        <label class="text-gray-800 text-sm mb-1 block">Password</label>
        <input name="password" type="password" required class="w-full text-sm text-gray-800 border border-gray-300 px-4 py-2 rounded-lg outline-black" placeholder="Enter password" />
    </div>
    <div class="!mt-6">
        <button type="button" class="w-full shadow-xl py-2 px-4 text-sm tracking-wide rounded-lg text-white bg-black hover:bg-gray-700 focus:outline-none">
            Log in
        </button>
    </div>
  
</form>