<div class="container mx-auto px-4 py-8">

      <!-- Event Summary Section -->
  <div class="bg-white rounded-xl shadow-lg  mb-8">
    <h2 class="text-2xl font-bold text-gray-800 mb-4">Event Summary</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="bg-green-100 rounded-lg p-4">
        <p class="text-xl font-semibold text-green-800">Total Events</p>
        <p class="text-3xl font-bold  text-green-600">{{getTotalEvents()}}</p>
      </div>
      <div class="bg-green-100 rounded-lg p-4">
        <p class="text-xl font-semibold text-green-800">Upcoming Events</p>
        <p class="text-3xl font-bold text-green-600">{{getUpcomingEvents()}}</p>
      </div>
    </div>
  </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div *ngFor="let booking of BookingData">
        <app-booking-card [booking]="booking"></app-booking-card>
      </div>
    </div>
  </div>