<app-admin-nav [PageName]="'package Details'" ></app-admin-nav>
  
  <!-- Main Content -->
  <div class="fixed inset-0 flex items-center justify-center bg-gray-100">
    <div class="w-full max-w-3xl p-6 bg-white border border-gray-200 rounded-lg shadow-lg">
      <h5 class="text-xl flex justify-center font-bold leading-none uppercase text-gray-700 mb-3">Package Details</h5>
      <div class="overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-700">
          <thead class="text-xs uppercase bg-gray-200">
            <tr>
              <th scope="col" class="px-6 py-3">Included Features</th>
              <th scope="col" class="px-6 py-3 text-center">Status</th>
              <th scope="col" class="px-6 py-3 text-center">Actions</th>
              <th scope="col" class="px-6 py-3 text-right">Total Amount</th>
            </tr>
          </thead>
          <tbody class="bg-gray-100">
     @for (item of packageDetails.packageItems; track $index) {
      <tr class="border-b">
        <td class="px-6 py-4">{{item.itemName}}</td>
        <td class="px-6 py-4 text-center">
          @if (item.status) {
            <p
              class="text-green-500 font-semibold py-2 px-4 rounded"
              >Available
          </p>
          }@else {
            <p
            class=" text-red-800 font-semibold py-2 px-4 rounded"
            >Not Available
          </p>
          }
        </td>
        <td class="px-6 py-4 text-center">
          <button
            (click)="openModal('edit', item._id)"
            class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
            Edit
          </button>
        </td>
                
        <td class="px-6 py-4 text-right">{{item.price}}</td>
      </tr>
     }
            <!-- Add more rows as needed -->
          <tr class="font-bold">
            <td colspan="3" class="px-6 py-4 text-right">Total</td>
            <td class="px-6 py-4 text-right">{{ totalAmount | currency:'INR' }}</td>
          </tr>

          </tbody>
        </table>
      </div>
      <div class="mt-6 text-right">
        <button (click)="openModal('add')"
          class="bg-transparent hover:bg-[#1a2035] text-[#1a2035] font-semibold hover:text-white py-2 px-4 border border-[#1a2035] hover:border-transparent rounded">
          Add Features
        </button>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <app-modal [isOpen]="isModalOpen" [title]="'Add Packages'" (closeModal)="closeModal()">
    <form [formGroup]="packageFeatureForm" (ngSubmit)="onSubmit()">
      <app-inputbox [label]="'Feature Name'" [type]="'text'" [formControl]="$any(packageFeatureForm.controls['itemName'])"></app-inputbox>
      <app-inputbox [label]="'Price'" [type]="'number'" [formControl]="$any(packageFeatureForm.controls['price'])"></app-inputbox>
      <app-inputbox label="Status" [options]="statusEnum" [formControl]="$any(packageFeatureForm.controls['status'])"></app-inputbox>
      <div class="flex justify-end">
        <app-button label="Cancel" buttonClass="bg-red-600 text-white hover:bg-white hover:text-red-600 hover:border border-red-600 py-2 px-4 rounded-lg mr-2" (click)="closeModal()"></app-button>
        <app-button label="Submit" type="submit" buttonClass="bg-[#1a2035] text-white border py-2 px-4 hover:bg-white hover:text-[#1a2035] hover:border border-[#1a2035] rounded-lg"></app-button>
      </div>
    </form>
  </app-modal>


  <app-modal [isOpen]="isModalEditOpen" [title]="'Edit Feature'" (closeModal)="closeModal()">
    <form [formGroup]="packageFeatureEditForm" (ngSubmit)="onEditSubmit()">
              <app-inputbox [label]="'Feature Name'" [type]="'text'" [formControl]="$any(packageFeatureEditForm.controls['itemName'])"></app-inputbox>
              <app-inputbox [label]="'Price'" [type]="'number'" [formControl]="$any(packageFeatureEditForm.controls['price'])"></app-inputbox>
              <app-inputbox label="Status" [options]="statusEnum" [formControl]="$any(packageFeatureEditForm.controls['status'])"></app-inputbox>
          <div class="flex justify-end">
            <app-button label="Cancel" buttonClass="bg-red-600 text-white hover:bg-white hover:text-red-600 hover:border border-red-600 py-2 px-4 rounded-lg mr-2" (click)="closeModal()"></app-button>
            <app-button label="Submit" type="submit" buttonClass="bg-[#1a2035] text-white border py-2 px-4 hover:bg-white hover:text-[#1a2035] hover:border border-[#1a2035] rounded-lg"></app-button>
          </div>
        </form>
      </app-modal>

  