@import url(../../../../../node_modules/keen-slider/keen-slider.min.css);

body {
  font-family: 'Lato', sans-serif;
}

.slider-container {
  width: 100%;
  overflow: hidden; 
}

@media (max-width: 768px) {
  .event-slide {
    width: 100%; 
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .event-slide {
    width: calc(50% - 16px); 
  }
}

@media (min-width: 1025px) {
  .event-slide {
    width: calc(33.33% - 16px); 
  }
}