<div class="bg-gray-100 min-h-screen pt-5">
  <!-- Banner -->
  <div class="relative h-96">
    <img src="assets/Banner.jpg" alt="Banner" class="w-full h-full object-cover">
    <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50">
      <div class="text-center">
        <h1 class="text-white text-5xl font-bold mb-2">WISK AND WILLOW</h1>
        <p class="text-white text-2xl font-light">EVENTS</p>
      </div>
    </div>
  </div>

  <!-- Main Content -->
  <div class="container mx-auto px-4 py-8">
    <!-- About Section -->
    <div class="bg-white rounded-xl shadow-md p-8 mb-8">
      <h2 class="text-3xl font-bold text-center mb-4">Unparalleled, Stress-Free Event Planning & Design</h2>
      <p class="mb-4">The Wisk and Willow experience is unlike any other. Our full-service event planning and design team will guide you every step of the way, ensuring a stress-free experience from start to finish.</p>
      <p class="mb-4">With us, customization is guaranteed. You'll be paired with a Wisk and Willow Event Team who will collaborate with you to bring your vision to life. We will team up with some of the best vendors in Nashville and take care of all the details like meeting scheduling, delivery dates, payments, day-of setup, and more.</p>
      <p class="font-bold mb-4">When it's showtime, our staff will work tirelessly to guarantee your event is effortless and unforgettable.</p>
      <div class="text-center">
        <button [routerLink]="['/gallery-category']" routerLinkActive="router-link-active" class="bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
          Find More
        </button>
      </div>
    </div>

<!-- Events Section -->
<h2 class="text-3xl font-bold text-center mb-6">Our Services</h2>
<div *ngIf="isLoding" class="flex justify-center items-center h-60">
  <div class="animate-spin rounded-full h-32 w-32 border-t-2 border-b-2 border-gray-900"></div>
</div>
<div *ngIf="!isLoding" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
  <div *ngFor="let event of events" [routerLink]="['/events', event.name]" class="bg-white rounded-xl shadow-md overflow-hidden hover:shadow-lg transition-shadow duration-300">
    <img [src]="event.image1 || 'https://via.placeholder.com/300'" [alt]="event.name" class="w-full h-48 object-cover">
    <div class="p-6">
      <h3 class="text-xl font-bold mb-2">{{ event.name }}</h3>
      <p class="text-gray-600">{{ event.description }}</p>
    </div>
  </div>
</div>

