<!-- banner image -->
<div class="relative mt-16 sm:mt-15 md:mt-15 lg:mt-15 w-full">
    <img src="assets/Banner.jpg" alt="Banner" class="w-full h-auto object-cover md:h-screen md:max-h-96 md:min-h-64">
    <div class="absolute inset-0 flex items-center justify-center">
      <h1 class="text-white text-xl sm:text-2xl md:text-4xl lg:text-6xl font-bold text-center px-4">
        WISK AND WILLOW
        <span class="block font-light text-2xl">{{event?.name}}</span>
      </h1>
    </div>
  </div>


<!-- weeding main -->
<div class="container mx-auto px-4 py-16 items-center">
    <div class="flex flex-col md:flex-row gap-8 md:gap-14 justify-center items-center">
        <div class="w-full md:w-1/2">
            <p class="text-lg mt-5 mb-6 font-bold">
                {{event?.event_heading}}
            </p>
            <p class="mb-4">
                {{event?.event_content}}
            </p>
           
        </div>
        <div>
            <img [src]="event?.image2 ? event?.image2 : 'https://via.placeholder.com/300x400'" alt="event Image" class="max-w-full h-auto md:max-w-sm lg:max-w-md">

        </div>
    </div>
</div>


<div class="bg-gray-100 w-full pt-8 pb-8">
    <div class="container mx-auto flex justify-center px-4">
        <div class="flex flex-col md:flex-row items-center justify-center gap-8 md:gap-44">
            <div class="w-full md:w-1/2 flex justify-center md:justify-end mb-8 md:mb-0">
                <img [src]="event?.image3 ? event?.image3 : 'https://via.placeholder.com/300x400'" alt="Event Image" class="w-full max-w-xs md:max-w-md lg:max-w-lg h-auto">
            </div>
            <div class="w-full md:w-1/2 flex justify-center md:justify-start">
                <div>
                    <h4 class="text-lg font-extrabold mb-4">{{event?.event_services}}</h4>
                    <ul  class="list-disc pl-5 space-y-2 text-sm">
                        <li *ngFor="let feature of ulServices" >{{feature}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


